<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Reservation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFB782E01E5613A9006DF6BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFB782FC1E5613AA006DF6BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFB783071E5613AA006DF6BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
